In [2]:
import pandas as pd

In [24]:
df = pd.read_csv("whc-sites-2019.csv")
df.head()

,category,states_name_en,region_en,unique_number,id_no,rev_bis,name_en,short_description_en,justification_en,date_inscribed,...,date_end,danger_list,longitude,latitude,area_hectares,criteria_txt,category_short,iso_code,udnp_code,transboundary
0,Cultural,Afghanistan,Asia and the Pacific,230,208,Rev,Cultural Landscape and Archaeological Remains ...,The cultural landscape and archaeological rem...,<em>Criterion (i):</em> The Buddha statues an...,2003,...,NaN,Y 2003,67.825250,34.846940,158.9265,(i)(ii)(iii)(iv)(vi),C,af,afg,0
1,Cultural,Afghanistan,Asia and the Pacific,234,211,Rev,Minaret and Archaeological Remains of Jam,"The 65m-tall Minaret of Jam is a graceful, so...",<em>Criterion (ii):</em> The innovative archi...,2002,...,NaN,Y 2002,64.515889,34.396417,70.0000,(ii)(iii)(iv),C,af,afg,0
2,Cultural,Albania,Europe and North America,1590,569,Bis,Historic Centres of Berat and Gjirokastra,Berat and Gjirokastra are inscribed as rare e...,NaN,2005,...,NaN,NaN,20.133333,40.069444,58.9000,(iii)(iv),C,al,alb,0
3,Cultural,Albania,Europe and North America,1563,570,ter,Butrint,"Inhabited since prehistoric times, Butrint ha...",NaN,1992,...,2005.0,P 1997-2005,20.026111,39.751111,NaN,(iii),C,al,alb,0
4,Cultural,Algeria,Arab States,111,102,NaN,Al Qal'a of Beni Hammad,In a mountainous site of extraordinary beauty...,NaN,1980,...,NaN,NaN,4.786840,35.818440,150.0000,(iii),C,dz,dza,0

In [25]:
set(df['category'])

{'Cultural', 'Mixed', 'Natural'}

In [26]:
set(df['states_name_en'])

{'Afghanistan',
 'Albania',
 'Albania,Austria,Belgium,Bulgaria,Croatia,Germany,Italy,Romania,Slovakia,Slovenia,Spain,Ukraine',
 'Albania,North Macedonia',
 'Algeria',
 'Andorra',
 'Angola',
 'Antigua and Barbuda',
 'Argentina',
 'Argentina,Bolivia (Plurinational State of),Chile,Colombia,Ecuador,Peru',
 'Argentina,Brazil',
 'Armenia',
 'Australia',
 'Austria',
 'Austria,France,Germany,Italy,Slovenia,Switzerland',
 'Austria,Hungary',
 'Azerbaijan',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belarus,Estonia,Finland,Latvia,Lithuania,Norway,Republic of Moldova,Russian Federation,Sweden,Ukraine',
 'Belarus,Poland',
 'Belgium',
 'Belgium,France',
 'Belgium,France,Germany,Switzerland,India,Japan,Argentina',
 'Belize',
 'Benin',
 'Benin,Burkina Faso,Niger',
 'Bolivia (Plurinational State of)',
 'Bosnia and Herzegovina',
 'Bosnia and Herzegovina,Croatia,Serbia,Montenegro',
 'Botswana',
 'Brazil',
 'Bulgaria',
 'Burkina Faso',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Cameroon,Central African Republic,Congo',
 'Canada',
 'Canada,United States of America',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'China,Kazakhstan,Kyrgyzstan',
 'Colombia',
 'Costa Rica',
 'Costa Rica,Panama',
 'Croatia',
 'Croatia,Italy,Montenegro',
 'Cuba',
 'Cyprus',
 'Czechia',
 'Czechia,Germany',
 "CÃ´te d'Ivoire",
 "CÃ´te d'Ivoire,Guinea",
 "Democratic People's Republic of Korea",
 'Democratic Republic of the Congo',
 'Denmark',
 'Denmark,Germany,Netherlands',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Eritrea',
 'Estonia',
 'Ethiopia',
 'Fiji',
 'Finland',
 'Finland,Sweden',
 'France',
 'France,Spain',
 'Gabon',
 'Gambia (the)',
 'Gambia (the),Senegal',
 'Georgia',
 'Germany',
 'Germany,Poland',
 'Germany,United Kingdom of Great Britain and Northern Ireland',
 'Ghana',
 'Greece',
 'Guatemala',
 'Haiti',
 'Holy See',
 'Holy See,Italy',
 'Honduras',
 'Hungary',
 'Hungary,Slovakia',
 'Iceland',
 'India',
 'Indonesia',
 'Iran (Islamic Republic of)',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Italy,Switzerland',
 'Jamaica',
 'Japan',
 'Jerusalem (Site proposed by Jordan)',
 'Jordan',
 'Kazakhstan',
 'Kazakhstan,Kyrgyzstan,Uzbekistan',
 'Kenya',
 'Kiribati',
 'Kyrgyzstan',
 "Lao People's Democratic Republic",
 'Latvia',
 'Lebanon',
 'Lesotho,South Africa',
 'Libya',
 'Lithuania',
 'Lithuania,Russian Federation',
 'Luxembourg',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Micronesia (Federated States of)',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Norway',
 'Oman',
 'Pakistan',
 'Palau',
 'Palestine',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Poland,Ukraine',
 'Portugal',
 'Portugal,Spain',
 'Qatar',
 'Republic of Korea',
 'Romania',
 'Russian Federation',
 'Russian Federation,Mongolia',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'San Marino',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Slovenia,Spain',
 'Solomon Islands',
 'South Africa',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Syrian Arab Republic',
 'Tajikistan',
 'Thailand',
 'Togo',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom of Great Britain and Northern Ireland',
 'United Republic of Tanzania',
 'United States of America',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela (Bolivarian Republic of)',
 'Viet Nam',
 'Yemen',
 'Zambia,Zimbabwe',
 'Zimbabwe'}

In [27]:
set(df['region_en'])

{'Africa',
 'Arab States',
 'Asia and the Pacific',
 'Europe and North America',
 'Europe and North America,Asia and the Pacific',
 'Europe and North America,Asia and the Pacific,Latin America and the Caribbean',
 'Latin America and the Caribbean'}

In [28]:
#count number of sites by country & region
country_lst = {}
region_lst = {}
for index, row in df.iterrows():
    state = row['states_name_en'].split(',')
    if len(state)>1:
        for item in state:
            if item in country_lst:
                country_lst[item] = country_lst[item] +1
            else:
                country_lst[item] = 1
    else:
        state = state[0]
        if state in country_lst:
            country_lst[state] = country_lst[state] +1
        else:
            country_lst[state] = 1
    region = row['region_en'].split(',')
    if len(region)>1:
        for item in region:
            if item in region_lst:
                region_lst[item] = region_lst[item] +1
            else:
                region_lst[item] = 1
    else:
        region = region[0]
        if region in region_lst:
            region_lst[region] = region_lst[region] +1
        else:
            region_lst[region] = 1

In [29]:
(pd.DataFrame.from_dict(data=country_lst, orient='index')
   .to_csv('country_count.csv', header=['count']))

In [1]:
(pd.DataFrame.from_dict(data=region_lst, orient='index')
   .to_csv('region_count.csv', header=['count']))

NameError: name 'pd' is not defined

In [30]:
cc = pd.read_csv('country_count.csv')
cc.head()

    Unnamed: 0  count
0  Afghanistan      2
1      Albania      4
2      Algeria      7
3      Andorra      1
4       Angola      1

In [31]:
cd = pd.read_csv('country_code.csv')
cd.head()

,name,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,NaN,142.0,34.0,NaN
1,Ã…land Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,NaN,150.0,154.0,NaN
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,NaN,150.0,39.0,NaN
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,NaN,2.0,15.0,NaN
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,NaN,9.0,61.0,NaN

In [34]:
for index, row in cd.iterrows():
    index_cc = list(cc[cc['Unnamed: 0']==row['name']].index.values)
    if index_cc:
        index_cc = index_cc[0]
        cd.loc[index, 'country_count'] = str(cc.loc[index_cc, 'count'])
cd.head()

,name,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code,country_count
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,NaN,142.0,34.0,NaN,2
1,Ã…land Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,NaN,150.0,154.0,NaN,NaN
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,NaN,150.0,39.0,NaN,4
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,NaN,2.0,15.0,NaN,7
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,NaN,9.0,61.0,NaN,NaN

In [36]:
cd.to_csv('country_count_2.csv', index=False)